.card {
  width: 350px;
  max-width: 90%;
  cursor: pointer;
}

.title {
  color: var(--Slate900);
}

.paragrafy {
  color: var(--Slate500);
  font-size: 13px;
  max-width: 200px;
}

.right-0 {
  top: -190px;
  right: -90px;
  opacity: 0;
  visibility: hidden;
}

.card:hover .right-0 {
  opacity: 1;
  visibility: visible;
  transition: 0.4s ease-in-out;
}

.largura {
  width: 240px;
  height: 60px;
}